appdirs==1.4.3
click==6.7
distlib==0.3.0
filelock==3.0.12
Flask==1.0.2
Flask-Cors==3.0.8
Flask-Session==0.3.1
importlib-metadata==1.5.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mongoengine==0.19.1
pymongo==3.10.1
six==1.14.0
virtualenv==20.0.4
Werkzeug==0.14.1
zipp==2.2.1
google-api-python-client==1.7.11
google-auth==1.11.2
google-auth-httplib2==0.0.3
httplib2==0.17.0
Flask-OAuth==0.12