.edit-icon {
  margin-left: 5px;
  font-size: 15px;
}

.add-another-btn {
  border: 2px solid #78C2AD;
  color: #78C2AD;
  font-size: 14px;
  line-height: 1.8em;
}

.add-another-btn:hover {
  border: 2px solid #78C2AD;
  background: #78C2AD !important;
  color: white;
}

main > div {
  margin-bottom: 15px;
}

.icon.ion-chatbox {
  font-size: 30px;
}

header a:hover {
  background-color: #78C2AD;
}

.nav-justified .nav-item:hover {
  background: rgba(0,0,0,0.05);
}

.nav-justified .nav-item {
  height: 100%;
}

.d-flex.flex-grow-1.justify-content-around {
  font-size: 30px;
}

.btn.btn-primary.border.rounded-circle {
  font-size: 25px;
}

.btn.btn-primary.border.rounded-circle {
  padding: 6px;
}

.form-control, .custom-select, #days {
  width: calc(100% - 54px);
}

.btn.btn-light.text-white.bg-info.border.rounded-circle {
  margin: 0;
}

.fa.fa-arrow-left {
  position: absolute;
  left: 25px;
  top: 31px;
  font-size: x-large;
}

.form-group > label {
  padding-right: 30px;
  padding-top: 8px;
}

.custom-select {
  /*border: none;*/
}

.bg-light.border.rounded-0.border-light.shadow-sm {
  margin-bottom: 20px;
}

.nav-justified .nav-item {
  border: none;
  line-height: 10px;
}

.nav-pills .nav-link {
  font-size: 14px;
}

