.nav.nav-tabs.nav-justified.top-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav.nav-tabs.nav-justified {
}

.d-flex.align-items-sm-center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.d-flex.justify-content-around.align-items-center.align-items-sm-center {
  border-bottom: 1px solid #dee2e6;
}

.nav.nav-pills.nav-justified {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #dee2e6;
}

.nav.nav-pills.nav-justified.text-capitalize {
}

.nav.nav-pills.nav-justified.text-capitalize {
  box-shadow: 0 -0.125rem .25rem rgba(0,0,0,.075)!important;
  z-index: 99;
}

.shadow-sm.d-flex.justify-content-around.align-items-center.align-items-sm-center {
  z-index: 99;
  background-color: #ffffff;
}

#profile-buttons > .btn {
  margin-bottom: 20px;
}

#add-item {
  position: absolute;
  right: 5%;
  border-width: 3px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin: 0px;
  bottom: calc(5% + 50px);
  z-index: 10;
  background-color: white;
}

